#tabs {
	margin-bottom: 0px;
}

#main-wrapper {
	margin-top: 0px;
	/*margin-bottom:50px;*/
}

.danhmuchangxe {
    background: url("../img/menubar/danhmuchangxe.jpg") no-repeat scroll left top transparent;
    width: 250px;
	height: 400px;
	margin-top:50px;
}

.danhmuc {
    background: url("../img/menubar/danhmuc.png") no-repeat scroll left top transparent;
	width: 250px;
	height: 250px;
	margin-top:50px;

	text-align:center;
	font-size:0.9em;
	font-weight:bolder;
}

.hotrotructuyen {
    background: url("../img/menubar/hotrotructuyen.jpg") no-repeat scroll left top transparent;
    width: 250px;
	height: 250px;
	margin-top:50px;
}

.thongketruycap {
    background: url("../img/menubar/thongketruycap.jpg") no-repeat scroll left top transparent;
    width: 250px;
	height: 250px;
	margin-top:50px;
}

.menu_icon {
margin-left:40px;
text-align:center;
}

.banggia {
width:600px;
}

/*140825*/
#mini-panel-fixed_header_wrapper {
    height: 130px;
}

#mini-panel-fixed_header {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  background-color:rgba(240,240,240,0.9);
  z-index: 5;
  border-bottom: 1px solid #DDDDDD;  
  height: 130px;  
}

/*horizontal menu*/
.nav>li{
    float:left;
}


/* Absolute Offsets */
.top140px {
    position: absolute;
    top:140px;
}
.top40px {
    position: absolute;
    top:40px;
}


/*bootstrap sticky footer*/
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 110px;
}
#mini-panel-sticky_footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  left: 0px;
  /* Set the fixed height of the footer here */
  height: 110px;
  background-color: #f5f5f5;
  padding-top:10px;
}

/*copyright*/

#mini-panel-copywright{
    background-color: #f5f5f5;
    position:absolute;
    bottom:0;
    height:10px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}

/*Mobile Styles*/
@media all and (max-width: 699px) {
  /* mobile styles here */
  .removeit{
      display:none;
  }
}

/*Theming masonry views*/

.masonry-item {
    background: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 1px 6px -1px #242424;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
 }
 .masonry-item:nth-child(2n) {
    background: rgb(255, 255, 255);
 }
 .masonry-item:nth-child(3n) {
    background: rgb(255, 255, 255);
 }


.views-field.views-field-title .field-content {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 1.2em;
    color: #00acd4;
}

